<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>
<p>
  <strong>Subject ID:</strong>
  <%= @speaker.id %>
</p>
<p>
  <strong>Messages:</strong>
  <%= @speaker.messages.size %>
</p>

<%= link_to 'Edit', edit_api_speaker_path(@speaker) %> |
<%= link_to 'Back', api_speakers_path %>
