<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @message.tag %>
</p>

<p>
  <strong>Video:</strong>
  <%= @message.video %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @message.speaker_id %>
</p>

<%= link_to 'Edit', edit_api_message_path(@message) %> |
<%= link_to 'Back', api_messages_path %>
