<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
<p id="notice"><%= notice %></p>
<%= link_to("<< Back to List", api_messages_path, :class => 'back-link') %>

<div class="messages show">
  <h2>View Message</h2>
  <div id="video-clip">
    <% if @message.video.attached? %>
      <video
        id="my-video" class="video-js" controls preload="auto" width="640" height="264" 
        poster="" data-setup="{}">
          <source src="<%=(url_for(@message.video))%>" type="video/mp4" />
      </video>
    <% end %>
  </div>
  <table class="table" summary="Message detail view">
    <tr>
      <th>Speaker Name</th>
      <td><%= @message.speaker.name %></td>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= @message.title %></td>
    </tr>
    <tr>
      <th>Tag</th>
      <td><%= @message.tag %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @message.description %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @message.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @message.updated_at %></td>
    </tr>
  </table>
  </div>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

<%= link_to 'Edit', edit_api_message_path(@message) %> |
<%= link_to 'Back', api_messages_path %>
